/PR.CargoShipping/.vs/PR.CargoShipping/CopilotIndices/17.14.1290.42047/CodeChunks.db
/PR.CargoShipping/.vs/PR.CargoShipping/CopilotIndices/17.14.1290.42047/CodeChunks.db-shm
/PR.CargoShipping/.vs/PR.CargoShipping/CopilotIndices/17.14.1290.42047/CodeChunks.db-wal
/PR.CargoShipping/.vs/PR.CargoShipping/CopilotIndices/17.14.1290.42047/SemanticSymbols.db
/PR.CargoShipping/.vs/PR.CargoShipping/CopilotIndices/17.14.1290.42047/SemanticSymbols.db-shm
/PR.CargoShipping/.vs/PR.CargoShipping/CopilotIndices/17.14.1290.42047/SemanticSymbols.db-wal
/PR.CargoShipping/.vs/PR.CargoShipping/DesignTimeBuild/.dtbcache.v2
/PR.CargoShipping/.vs/PR.CargoShipping/FileContentIndex/1982257f-a1f9-41f2-88fe-5fcab3655961.vsidx
/PR.CargoShipping/.vs/PR.CargoShipping/FileContentIndex/2b4cd1b5-795c-4f0e-aeda-12a6d0b5e22e.vsidx
/PR.CargoShipping/.vs/PR.CargoShipping/FileContentIndex/61e08d2f-55f9-477c-97d0-be76badb3546.vsidx
/PR.CargoShipping/.vs/PR.CargoShipping/FileContentIndex/c5e264af-1136-43e3-8b71-74b20160c9ec.vsidx
/PR.CargoShipping/.vs/PR.CargoShipping/FileContentIndex/c73e25d3-4153-4a9e-bd31-fbd13dc561d7.vsidx
/PR.CargoShipping/.vs/PR.CargoShipping/v17/DocumentLayout.backup.json
/PR.CargoShipping/.vs/PR.CargoShipping/v17/DocumentLayout.json
/PR.CargoShipping/PR.CargoShipping.Domain/bin/Debug/net8.0/PR.CargoShipping.Domain.deps.json
/PR.CargoShipping/PR.CargoShipping.Domain/bin/Debug/net8.0/PR.CargoShipping.Domain.dll
/PR.CargoShipping/PR.CargoShipping.Domain/bin/Debug/net8.0/PR.CargoShipping.Domain.pdb
/PR.CargoShipping/PR.CargoShipping.Domain/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/PR.CargoShipping/PR.CargoShipping.Domain/obj/Debug/net8.0/PR.CargoShipping.Domain.AssemblyInfo.cs
/PR.CargoShipping/PR.CargoShipping.Domain/obj/Debug/net8.0/PR.CargoShipping.Domain.AssemblyInfoInputs.cache
/PR.CargoShipping/PR.CargoShipping.Domain/obj/Debug/net8.0/PR.CargoShipping.Domain.assets.cache
/PR.CargoShipping/PR.CargoShipping.Domain/obj/Debug/net8.0/PR.CargoShipping.Domain.csproj.CoreCompileInputs.cache
/PR.CargoShipping/PR.CargoShipping.Domain/obj/Debug/net8.0/PR.CargoShipping.Domain.csproj.FileListAbsolute.txt
/PR.CargoShipping/PR.CargoShipping.Domain/obj/Debug/net8.0/PR.CargoShipping.Domain.dll
/PR.CargoShipping/PR.CargoShipping.Domain/obj/Debug/net8.0/PR.CargoShipping.Domain.GeneratedMSBuildEditorConfig.editorconfig
/PR.CargoShipping/PR.CargoShipping.Domain/obj/Debug/net8.0/PR.CargoShipping.Domain.GlobalUsings.g.cs
/PR.CargoShipping/PR.CargoShipping.Domain/obj/Debug/net8.0/PR.CargoShipping.Domain.pdb
/PR.CargoShipping/PR.CargoShipping.Domain/obj/Debug/net8.0/PR.CargoShipping.Domain.sourcelink.json
/PR.CargoShipping/PR.CargoShipping.Domain/obj/Debug/net8.0/ref/PR.CargoShipping.Domain.dll
/PR.CargoShipping/PR.CargoShipping.Domain/obj/Debug/net8.0/refint/PR.CargoShipping.Domain.dll
/PR.CargoShipping/PR.CargoShipping.Domain/obj/PR.CargoShipping.Domain.csproj.nuget.dgspec.json
/PR.CargoShipping/PR.CargoShipping.Domain/obj/PR.CargoShipping.Domain.csproj.nuget.g.props
/PR.CargoShipping/PR.CargoShipping.Domain/obj/PR.CargoShipping.Domain.csproj.nuget.g.targets
/PR.CargoShipping/PR.CargoShipping.Domain/obj/project.assets.json
/PR.CargoShipping/PR.CargoShipping.Domain/obj/project.nuget.cache
/PR.CargoShipping/PR.CargoShipping.Repository/bin/Debug/net8.0/PR.CargoShipping.Domain.dll
/PR.CargoShipping/PR.CargoShipping.Repository/bin/Debug/net8.0/PR.CargoShipping.Domain.pdb
/PR.CargoShipping/PR.CargoShipping.Repository/bin/Debug/net8.0/PR.CargoShipping.Repository.deps.json
/PR.CargoShipping/PR.CargoShipping.Repository/bin/Debug/net8.0/PR.CargoShipping.Repository.dll
/PR.CargoShipping/PR.CargoShipping.Repository/bin/Debug/net8.0/PR.CargoShipping.Repository.pdb
/PR.CargoShipping/PR.CargoShipping.Repository/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/PR.CargoShipping/PR.CargoShipping.Repository/obj/Debug/net8.0/PR.Cargo.E49CD69F.Up2Date
/PR.CargoShipping/PR.CargoShipping.Repository/obj/Debug/net8.0/PR.CargoShipping.Repository.AssemblyInfo.cs
/PR.CargoShipping/PR.CargoShipping.Repository/obj/Debug/net8.0/PR.CargoShipping.Repository.AssemblyInfoInputs.cache
/PR.CargoShipping/PR.CargoShipping.Repository/obj/Debug/net8.0/PR.CargoShipping.Repository.assets.cache
/PR.CargoShipping/PR.CargoShipping.Repository/obj/Debug/net8.0/PR.CargoShipping.Repository.csproj.AssemblyReference.cache
/PR.CargoShipping/PR.CargoShipping.Repository/obj/Debug/net8.0/PR.CargoShipping.Repository.csproj.BuildWithSkipAnalyzers
/PR.CargoShipping/PR.CargoShipping.Repository/obj/Debug/net8.0/PR.CargoShipping.Repository.csproj.CoreCompileInputs.cache
/PR.CargoShipping/PR.CargoShipping.Repository/obj/Debug/net8.0/PR.CargoShipping.Repository.csproj.FileListAbsolute.txt
/PR.CargoShipping/PR.CargoShipping.Repository/obj/Debug/net8.0/PR.CargoShipping.Repository.dll
/PR.CargoShipping/PR.CargoShipping.Repository/obj/Debug/net8.0/PR.CargoShipping.Repository.GeneratedMSBuildEditorConfig.editorconfig
/PR.CargoShipping/PR.CargoShipping.Repository/obj/Debug/net8.0/PR.CargoShipping.Repository.GlobalUsings.g.cs
/PR.CargoShipping/PR.CargoShipping.Repository/obj/Debug/net8.0/PR.CargoShipping.Repository.pdb
/PR.CargoShipping/PR.CargoShipping.Repository/obj/Debug/net8.0/PR.CargoShipping.Repository.sourcelink.json
/PR.CargoShipping/PR.CargoShipping.Repository/obj/Debug/net8.0/ref/PR.CargoShipping.Repository.dll
/PR.CargoShipping/PR.CargoShipping.Repository/obj/Debug/net8.0/refint/PR.CargoShipping.Repository.dll
/PR.CargoShipping/PR.CargoShipping.Repository/obj/PR.CargoShipping.Repository.csproj.nuget.dgspec.json
/PR.CargoShipping/PR.CargoShipping.Repository/obj/PR.CargoShipping.Repository.csproj.nuget.g.props
/PR.CargoShipping/PR.CargoShipping.Repository/obj/PR.CargoShipping.Repository.csproj.nuget.g.targets
/PR.CargoShipping/PR.CargoShipping.Repository/obj/project.assets.json
/PR.CargoShipping/PR.CargoShipping.Repository/obj/project.nuget.cache
/PR.CargoShipping/PR.CargoShipping.Service/bin/Debug/net8.0/PR.CargoShipping.Domain.dll
/PR.CargoShipping/PR.CargoShipping.Service/bin/Debug/net8.0/PR.CargoShipping.Domain.pdb
/PR.CargoShipping/PR.CargoShipping.Service/bin/Debug/net8.0/PR.CargoShipping.Repository.dll
/PR.CargoShipping/PR.CargoShipping.Service/bin/Debug/net8.0/PR.CargoShipping.Repository.pdb
/PR.CargoShipping/PR.CargoShipping.Service/bin/Debug/net8.0/PR.CargoShipping.Service.deps.json
/PR.CargoShipping/PR.CargoShipping.Service/bin/Debug/net8.0/PR.CargoShipping.Service.dll
/PR.CargoShipping/PR.CargoShipping.Service/bin/Debug/net8.0/PR.CargoShipping.Service.pdb
/PR.CargoShipping/PR.CargoShipping.Service/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/PR.CargoShipping/PR.CargoShipping.Service/obj/Debug/net8.0/PR.Cargo.B1398C37.Up2Date
/PR.CargoShipping/PR.CargoShipping.Service/obj/Debug/net8.0/PR.CargoShipping.Service.AssemblyInfo.cs
/PR.CargoShipping/PR.CargoShipping.Service/obj/Debug/net8.0/PR.CargoShipping.Service.AssemblyInfoInputs.cache
/PR.CargoShipping/PR.CargoShipping.Service/obj/Debug/net8.0/PR.CargoShipping.Service.assets.cache
/PR.CargoShipping/PR.CargoShipping.Service/obj/Debug/net8.0/PR.CargoShipping.Service.csproj.AssemblyReference.cache
/PR.CargoShipping/PR.CargoShipping.Service/obj/Debug/net8.0/PR.CargoShipping.Service.csproj.BuildWithSkipAnalyzers
/PR.CargoShipping/PR.CargoShipping.Service/obj/Debug/net8.0/PR.CargoShipping.Service.csproj.CoreCompileInputs.cache
/PR.CargoShipping/PR.CargoShipping.Service/obj/Debug/net8.0/PR.CargoShipping.Service.csproj.FileListAbsolute.txt
/PR.CargoShipping/PR.CargoShipping.Service/obj/Debug/net8.0/PR.CargoShipping.Service.dll
/PR.CargoShipping/PR.CargoShipping.Service/obj/Debug/net8.0/PR.CargoShipping.Service.GeneratedMSBuildEditorConfig.editorconfig
/PR.CargoShipping/PR.CargoShipping.Service/obj/Debug/net8.0/PR.CargoShipping.Service.GlobalUsings.g.cs
/PR.CargoShipping/PR.CargoShipping.Service/obj/Debug/net8.0/PR.CargoShipping.Service.pdb
/PR.CargoShipping/PR.CargoShipping.Service/obj/Debug/net8.0/PR.CargoShipping.Service.sourcelink.json
/PR.CargoShipping/PR.CargoShipping.Service/obj/Debug/net8.0/ref/PR.CargoShipping.Service.dll
/PR.CargoShipping/PR.CargoShipping.Service/obj/Debug/net8.0/refint/PR.CargoShipping.Service.dll
/PR.CargoShipping/PR.CargoShipping.Service/obj/PR.CargoShipping.Service.csproj.nuget.dgspec.json
/PR.CargoShipping/PR.CargoShipping.Service/obj/PR.CargoShipping.Service.csproj.nuget.g.props
/PR.CargoShipping/PR.CargoShipping.Service/obj/PR.CargoShipping.Service.csproj.nuget.g.targets
/PR.CargoShipping/PR.CargoShipping.Service/obj/project.assets.json
/PR.CargoShipping/PR.CargoShipping.Service/obj/project.nuget.cache
/PR.CargoShipping/PR.CargoShipping/bin/Debug/net8.0-windows/PR.CargoShipping.deps.json
/PR.CargoShipping/PR.CargoShipping/bin/Debug/net8.0-windows/PR.CargoShipping.dll
/PR.CargoShipping/PR.CargoShipping/bin/Debug/net8.0-windows/PR.CargoShipping.Domain.dll
/PR.CargoShipping/PR.CargoShipping/bin/Debug/net8.0-windows/PR.CargoShipping.Domain.pdb
/PR.CargoShipping/PR.CargoShipping/bin/Debug/net8.0-windows/PR.CargoShipping.exe
/PR.CargoShipping/PR.CargoShipping/bin/Debug/net8.0-windows/PR.CargoShipping.pdb
/PR.CargoShipping/PR.CargoShipping/bin/Debug/net8.0-windows/PR.CargoShipping.Repository.dll
/PR.CargoShipping/PR.CargoShipping/bin/Debug/net8.0-windows/PR.CargoShipping.Repository.pdb
/PR.CargoShipping/PR.CargoShipping/bin/Debug/net8.0-windows/PR.CargoShipping.runtimeconfig.json
/PR.CargoShipping/PR.CargoShipping/bin/Debug/net8.0-windows/PR.CargoShipping.Service.dll
/PR.CargoShipping/PR.CargoShipping/bin/Debug/net8.0-windows/PR.CargoShipping.Service.pdb
/PR.CargoShipping/PR.CargoShipping/bin/Debug/net8.0-windows/runtimes/unix/lib/net8.0/System.Data.SqlClient.dll
/PR.CargoShipping/PR.CargoShipping/bin/Debug/net8.0-windows/runtimes/win/lib/net8.0/System.Data.SqlClient.dll
/PR.CargoShipping/PR.CargoShipping/bin/Debug/net8.0-windows/runtimes/win-arm64/native/sni.dll
/PR.CargoShipping/PR.CargoShipping/bin/Debug/net8.0-windows/runtimes/win-x64/native/sni.dll
/PR.CargoShipping/PR.CargoShipping/bin/Debug/net8.0-windows/runtimes/win-x86/native/sni.dll
/PR.CargoShipping/PR.CargoShipping/bin/Debug/net8.0-windows/System.Data.SqlClient.dll
/PR.CargoShipping/PR.CargoShipping/obj/Debug/net8.0-windows/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/PR.CargoShipping/PR.CargoShipping/obj/Debug/net8.0-windows/apphost.exe
/PR.CargoShipping/PR.CargoShipping/obj/Debug/net8.0-windows/PR.Cargo.E2EB59EA.Up2Date
/PR.CargoShipping/PR.CargoShipping/obj/Debug/net8.0-windows/PR.CargoShipping.AssemblyInfo.cs
/PR.CargoShipping/PR.CargoShipping/obj/Debug/net8.0-windows/PR.CargoShipping.AssemblyInfoInputs.cache
/PR.CargoShipping/PR.CargoShipping/obj/Debug/net8.0-windows/PR.CargoShipping.assets.cache
/PR.CargoShipping/PR.CargoShipping/obj/Debug/net8.0-windows/PR.CargoShipping.csproj.AssemblyReference.cache
/PR.CargoShipping/PR.CargoShipping/obj/Debug/net8.0-windows/PR.CargoShipping.csproj.BuildWithSkipAnalyzers
/PR.CargoShipping/PR.CargoShipping/obj/Debug/net8.0-windows/PR.CargoShipping.csproj.CoreCompileInputs.cache
/PR.CargoShipping/PR.CargoShipping/obj/Debug/net8.0-windows/PR.CargoShipping.csproj.FileListAbsolute.txt
/PR.CargoShipping/PR.CargoShipping/obj/Debug/net8.0-windows/PR.CargoShipping.csproj.GenerateResource.cache
/PR.CargoShipping/PR.CargoShipping/obj/Debug/net8.0-windows/PR.CargoShipping.dll
/PR.CargoShipping/PR.CargoShipping/obj/Debug/net8.0-windows/PR.CargoShipping.frmTrips.resources
/PR.CargoShipping/PR.CargoShipping/obj/Debug/net8.0-windows/PR.CargoShipping.GeneratedMSBuildEditorConfig.editorconfig
/PR.CargoShipping/PR.CargoShipping/obj/Debug/net8.0-windows/PR.CargoShipping.genruntimeconfig.cache
/PR.CargoShipping/PR.CargoShipping/obj/Debug/net8.0-windows/PR.CargoShipping.GlobalUsings.g.cs
/PR.CargoShipping/PR.CargoShipping/obj/Debug/net8.0-windows/PR.CargoShipping.pdb
/PR.CargoShipping/PR.CargoShipping/obj/Debug/net8.0-windows/PR.CargoShipping.Resource.resources
/PR.CargoShipping/PR.CargoShipping/obj/Debug/net8.0-windows/PR.CargoShipping.sourcelink.json
/PR.CargoShipping/PR.CargoShipping/obj/Debug/net8.0-windows/ref/PR.CargoShipping.dll
/PR.CargoShipping/PR.CargoShipping/obj/Debug/net8.0-windows/refint/PR.CargoShipping.dll
/PR.CargoShipping/PR.CargoShipping/obj/PR.CargoShipping.csproj.nuget.dgspec.json
/PR.CargoShipping/PR.CargoShipping/obj/PR.CargoShipping.csproj.nuget.g.props
/PR.CargoShipping/PR.CargoShipping/obj/PR.CargoShipping.csproj.nuget.g.targets
/PR.CargoShipping/PR.CargoShipping/obj/project.assets.json
/PR.CargoShipping/PR.CargoShipping/obj/project.nuget.cache
